.cap {
    text-align: center;
    margin-top: 200px;
    margin-left: 500px;
  }
  
  .img-capi {
    margin-top: 120px;
    margin-left: 500px;
  }
  
  .topo-capivara {
    display: flex;
  }
  
  .text-capi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 390px;
    margin-left: 100px;
    width: 790px;
    line-height: 45px;
  }
  
  .capi-title {
    margin-top: 100px;
    margin-left: 500px;
  }
  
  .cap-p {
    margin-top: 40px;
  }
  
  .capi-title2 {
    margin-top: 390px;
    margin-left: 100px;
    width: 790px;
    line-height: 45px;
  }
  
  .img-habitat {
    margin-left: 600px;
    margin-top: -490px;
  }
  
  .compo-cap {
    margin-left: 490px;
    margin-top: 100px;
  }
  
  .footer {
    color: aliceblue;
  }
  
  body {
    background: linear-gradient(to bottom, #4B5320, #6B8E23);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
  }
  
  .footer {
      margin-top: 100px;
  }
  
  .img-nada {
    margin-left: 480px;
    margin-top: 110px;
  }
  
  .title-aqua {
    margin-left: 1100px;
    margin-top: -570px;
  }
  
  .text-aqua {
    margin-left: 1100px;
    margin-top: 30px;
    width: 450px;
  }
  
  .img-impor {
    margin-left: 600px;
    margin-top: -530px;
  }
  
  .onça-impor {
    margin-top: 100px;
    margin-left: 500px;
  }

.icon {
  color: black;
}

  
  